<!-- <!DOCTYPE html> <html lang="en"> <head>～</head>まで削除 -->
<!-- <body>とNavigation 以下のブロック<nav>～</nav>まで削除-->

<!-- ベーステンプレートを適用する-->
{% extends 'base.html' %}

<!-- ヘッダー情報のページタイトルは
    ベーステンプレートを利用するページで設定する -->
{% block title %}Flask Blog - Contact{% endblock %}

<!-- Page Header-->
<!-- <header>～</header>をテンプレートタグで囲む-->
{% block header %}
<!-- 背景画像のリンク先を設定 -->
<header class="masthead" style="background-image: url('static/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- <header>～</header>をテンプレートタグで囲む-->
{% endblock %}

<!-- Main Content-->
<!-- メインコンテンツを設定する<div>～</div>をテンプレートタグで囲む-->
{% block contents %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon
                    as possible!</p>
                <div class="my-5">
                    <h2>問い合わせが完了しました</h2>
                </div>
                <!-- 送信間r尿時のフラッシュメッセージを出力 -->
                {% with message = get_flashed_messages() %}
                {% if message %}
                <ul>
                    {% for message in messages %}
                    <li class="flash">{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    </div>
</main>
<!-- メインコンテンツを設定する<div>～</div>をテンプレートタグで囲む-->
{% endblock %}

<!-- Footer以下を削除-->